<h1>New Owner Sign up!</h1>
<hr>

<%= form_for :owner, url: '/owners' do |f| %>


  Email: <%= f.text_field :email %><br>
  Password: <%= f.password_field :password %><br>
  Password Confirmation: <%= f.password_field :password_confirmation %><br>
  <%= f.submit "Submit" %>

<% end %>

<!-- <%= render "form" %> -->
